@keyframes movegradient {
        0% { background-position:0% center;}
        100% { background-position: 100% center;}
    }
@keyframes slideright {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideleft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
    background: linear-gradient(to right,
    rgb(195, 255, 195),
    rgb(23, 255, 255), 
    rgb(195, 255, 195), 
    rgb(23, 255, 255));

    background-size: 400% auto;
    animation: movegradient 12s linear infinite alternate;
    max-width: 1470px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', sans-serif;
}
html, body {
    overflow-x: hidden;
}




.leftbar, .leftbar2{
    left: 0;
    height: 78vh;
    width: 10vw;
    position: relative;
    font-size: larger;
    color: rgb(143, 112, 255);
    background-color: transparent;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    animation: slideleft 1s ease-out forwards;
    transition: left 0.8s ease;
    margin: 0;
}
.leftbar::after {
    content: "";
    position: absolute;
    right: -0px;
    top: 45%;
    transform: translateY(-148%);
    width: 18px;
    height: 60px;
    border-top: 5px solid rgb(143, 112, 255);
    border-right: 5px solid rgb(143, 112, 255);
    border-bottom: 5px solid rgb(143, 112, 255);
    border-left: 5px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.leftbar.hidden{
    left:-190px;
}
.leftbar:hover{
    left:0;
}

#main a{
    text-decoration: none;
    color: inherit;
    z-index: 999;
}
#main a:hover{
    color: #3d007a;
    font-weight: bold;
    text-decoration: underline;
}






#top{
    display: flex;
    justify-content: center;
    color: rgb(255, 140, 120);
    height: 80px;
    width: 900px; 
    z-index: 2;
}
#main {
    position: relative;
    display: flex;
    height: 740px;
    width: 100vw;
    align-items: left;
    color: rgb(143, 112, 255);
}



#contentpart{
    height: 800px;
    width: 85vw;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: -2;
}




#contactblock{
    height: 400px;
    width: 18vw;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 2;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideright 1s ease-out forwards;
}
.contactinfo{
    font-size: large;
    margin: 20px;
}





.dividingblock{
    width: 100vw;
    height: 70px;
    background: linear-gradient(to right,rgb(255,195,255),rgb(255,179,128),rgb(255,195,255));
    background-size: 400% auto;
    animation: movegradient 8s linear infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #330066;
}



#interestcontent{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.project{
    height: auto;
    width: 1200px;
}

.projectcontent{
    width: 1100px;
    height: 160px;
    display: grid;
    grid-template-columns: 220px 2fr 1fr;
    gap: 30px;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 100px;
}

.project_image{
    width: 250px; 
    height: auto;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.project_image:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.githubicon{
    width: auto; 
    height: 45px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.githubicon:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}





#skillcontent{
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.SkillsSection{
    width: 80vw; 
    height: auto;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 50px;
    align-items: start;
    margin-bottom: 20px;
}

.CVt{
    padding-left: 60px; 
    font-size: 18px;
    font-weight: bold;    
}
.CVp{
    font-size: 18px;
    color: black;
}



.endingblock{
    width: 100vw;
    height: auto;
    line-height: 0.5;
    font-size: 12px;
    background: linear-gradient(to right,rgb(255,195,255),rgb(255,179,128),rgb(255,195,255));
    background-size: 400% auto;
    animation: movegradient 6s linear infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: black;
}

#endingline{
    width: 100vw;
    height: 2px;
    background-color: black;
}

#endingtext{
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 12px 0;
}

.endingblock a{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.endingblock a:hover {
  text-decoration: underline;
}